<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/header.ejs')%>

  <body class="body">
    <%-include('./partials/name.ejs')%>

    <div>
      <h5>About</h5>
      <div>
        <img src="images/img.jpg" alt="" width="10%" />
      </div>
      <p>
        Hi, my name is Adedotun. I’m a software engineer, and I am really
        interested about the financial aspect of human lives and I try to
        improve this with backend Engineering and learning to build solutions on
        the Blockchain. I am currently studying Computer Science in the
        University. I love playing the guitar and reading about computing,
        science, and philosophy. I write articles about what I’m learning or
        building on this blog. Most of them will be about programming and
        technology. You can find me on Twitter. When I’m not building something
        or playing music, I’m usually hanging out there.
      </p>
    </div>
  </body>
</html>
