<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/header.ejs')%>
  <body class="body">
    <%-include('./partials/name.ejs')%>
    <div>
      bb Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      quaerat minus officia veniam soluta at omnis veritatis nam labore, quo
      harum deleniti delectus. Asperiores repudiandae fugit sunt id numquam
      iure?
    </div>
  </body>
</html>
